.scrollIcon {
  display: flex;
  position: relative;
  height: 3em;
  width: 1.5em;
  border-width: 0.25rem;
  border-style: solid;
  border-radius: 1em;
  justify-content: center;

  &__outerWheel {
    display: block;
    position: relative;
    top: 0.6em;
    height: 0.7em;
    width: 0.4em;
    border-radius: 0.4em;
    overflow: hidden;
  }

  &__innerWheel {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border-width: 0.15em;
    border-style: solid;
    transition: border-color 500ms;
    background: lightgray;
  }
}

.scrolling {
  animation: scrolling 2000ms ease-in-out infinite;
}

@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.3em);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.3em);
  }
  100% {
    transform: translateY(0);
  }
}
