$bp-1: 48em; // 768px
$bp-2: 160em; // 2560px
$bp-3: 240em; // 3840px

$mq-1: '(min-width: #{$bp-1})';
$mq-2: '(min-width: #{$bp-2})';
$mq-3: '(min-width: #{$bp-3})';

$initialOpacity: 0.1;

.showcaseItem {
  text-align: center;
  @media only screen and #{$mq-1} {
    width: 40rem;
  }
  @media only screen and #{$mq-2} {
    width: 50rem;
  }
  @media only screen and #{$mq-3} {
    width: 60rem;
  }
  &__figure {
    height: 100%;
    width: 100%;
  }
}

.fade-in {
  -webkit-animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: $initialOpacity;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: $initialOpacity;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 1000ms ease-out both;
  animation: fade-out 1000ms ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: $initialOpacity;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: $initialOpacity;
  }
}
