$initialOpacity: 0.1;

.showcaseItem {
  max-width: 30rem;
  @media only screen and (max-height: 414px) {
    width: 19rem;
    height: 100%;
  }
}

.fade-in {
  -webkit-animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 500ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: $initialOpacity;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: $initialOpacity;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  -webkit-animation: fade-out 1000ms ease-out both;
  animation: fade-out 1000ms ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: $initialOpacity;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: $initialOpacity;
  }
}
